/* MovieDetails.css */
.movie-details-container {
  display: grid;
  background-color: rgba(224, 192, 209, 0.298);
  grid-template-columns: 1fr 2fr; /* Dos columnas, una para la imagen y otra para la información */
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.back-link {
  text-decoration: none;
  color: #3b1351;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Aclonica', sans-serif;
  margin-top: 10px;
  text-align: left;
  grid-column: span 2; /* Ocupa ambas columnas */
}

.movie-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-poster {
  width: 350px; /* Tamaño del póster */
  height: auto; /* Altura automática para mantener la proporción */
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s; /* Transiciones para transform y sombra */
}

.movie-poster:hover {
  transform: scale(1.1); /* Hace que el póster se agrande un 10% en hover */
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada en hover */
}


/* Estilos para la información de la película */
.movie-details {
  position: relative;
  text-align: justify;
  font-size: 15px;
  font-family: 'Aclonica', sans-serif;
  color: #3e2c10;
  padding: 20px;
  background-color: #602e6c36;
  box-shadow: 8px 8px 20px rgba(82, 11, 102, 0.5); /* Aumentamos la difuminación y el desplazamiento */
  width: 80%;
}

/* Estilos para la sinopsis */
.movie-details-container .movie-description {
  text-align: left;
  font-size: 20px;
  font-family: 'Aclonica', sans-serif;
}