/* Estilos para FilterMovies */
.FilterMovies {
    margin-bottom: 10px; /* Espacio inferior más pequeño */
    padding: 10px;
    border-radius: 10px;
    background-color: #f0ebeb;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sutil sombra */
  }
  
  .FilterMovies label {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 8px; /* Espacio inferior más pequeño */
  }
  
  .FilterMovies select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #a6c4e1;
    border-radius: 5px;
    background-color: #f4f8fa;
  }
  
  .FilterMovies select:hover {
    border-color: #4f91c3;
    transition: border-color 0.3s;
  }